.App {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}


